[submodule "Firmware/MaD-Firmware"]
	path = Firmware/MaD-Firmware
	url = https://github.com/RileyMcCarthy/MaD-Firmware.git
	branch = master
[submodule "Software/MaD-Website"]
	path = Software/MaD-Website
	url = https://github.com/RileyMcCarthy/MaD-Website.git
	branch = master
[submodule "Hardware/MaD-Edge-Board"]
	path = Hardware/MaD-Edge-Board
	url = https://github.com/RileyMcCarthy/MaD-Edge-Board.git
	branch = master
[submodule "Hardware/DS2-Addon"]
	path = Hardware/DS2-Addon
	url = https://github.com/RileyMcCarthy/DS2-Addon.git
	branch = master
[submodule "Hardware/MaD-Power-Board"]
	path = Hardware/MaD-Power-Board
	url = https://github.com/RileyMcCarthy/MaD-Power-Board.git
	branch = master
