[submodule "Firmware/MaD-Firmware"]
	path = Firmware/MaD-Firmware
	url = https://github.com/RileyMcCarthy/MaD-Firmware.git
[submodule "Software/MaD-Website"]
	path = Software/MaD-Website
	url = https://github.com/RileyMcCarthy/MaD-Website.git
[submodule "Hardware/MaD-Edge-Board"]
	path = Hardware/MaD-Edge-Board
	url = https://github.com/RileyMcCarthy/MaD-Edge-Board.git
