*.code-workspace
.vscode
.snapshots
.DS_Store
._.DS_Store
venv/
*.o
*.pyc
.pio/

# Firmware
Firmware/bin/


# Hardware
## Temporary files
Hardware/MaD_Edge/MaD_Edge-backups
Hardware/MaD_Edge/production
Hardware/**/*.000
Hardware/**/*.bak
Hardware/**/*.bck
Hardware/**/*.kicad_pcb-bak
Hardware/**/*.sch-bak
Hardware/**/*~
Hardware/**/_autosave-*
Hardware/**/*.tmp
Hardware/**/*-save.pro
Hardware/**/*-save.kicad_pcb
Hardware/**/fp-info-cache

## Netlist files (exported from Eeschema)
Hardware/**/*.net

## Autorouter files (exported from Pcbnew)
Hardware/**/*.dsn
Hardware/**/*.ses

## Exported BOM files
Hardware/**/*.xml
Hardware/**/*.csv