<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/@canvasjs/charts/canvasjs.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/codemirror/mode/python/python.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bs5-utils/dist/js/Bs5Utils.js')}}"></script>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.css')}}">
    <title>MaD - {% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">MaD P2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/status">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testdata">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}
        <div>
            <h1>Base</h1>
        </div>
        {% endblock %}
    </div>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>


<script type="text/javascript">
const bs5Utils = new Bs5Utils();
var socket_serial = io('/serial');
socket_serial.on('notification', function (data) {
  if (!data || !data.json) {
    return;
  }
  console.log(data.json);
  var notification = JSON.parse(data.json);
  var delayMs = notification.timeout;
  if (notification.type == 'warning') {
    bs5Utils.Snack.show('warning', notification.message, delay = delayMs, dismissible = true);
  }
  else if (notification.type == 'error') {
    bs5Utils.Snack.show('danger', notification.message, delay = delayMs, dismissible = true);
  }
  else if (notification.type == 'info') {
    bs5Utils.Snack.show('info', notification.message, delay = delayMs, dismissible = true);
  }
  else if (notification.type == 'success') {
    bs5Utils.Snack.show('success', notification.message, delay = delayMs, dismissible = true);
  }
  else {
    bs5Utils.Snack.show('primary', notification.message, delay = delayMs, dismissible = true);
  }
});
</script>
</html>