<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/@canvasjs/charts/canvasjs.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/codemirror/mode/python/python.js')}}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.css')}}">
    <title>MaD - {% block title %}Home{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">MaD P2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/status">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testdata">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>

    {% macro render_field(field) -%}

        {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
        {{ field() }}
        {% else %}

        {% set with_label = kwargs.pop('with_label', True) %}
        {% set placeholder = kwargs.pop('placeholder', field.label.text) %}
        {% set class_ = kwargs.pop('class_', '') %}

        <div class="form-group {% if field.errors %}error{% endif %}">

            {% if with_label %}
            <label for="{{ field.id }}"
                class="control-label">
                {{ field.label.text }}
            </label>
            {% endif %}

            {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>
            {% else %}

            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField',
                                'IntegerField') %}

            {% set class_ = class_ + ' input-xlarge form-control' %}

            {% elif field.type == 'FileField' %}

            {% set class_ = class_ + ' input-file form-control' %}

            {% endif %}

            {% if field.type == 'SelectField' %}

            {{ field(class_=class_, **kwargs) }}

            {% else %}

            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}

            {% endif %}

            {% endif %}

            
            <small id="{{field.id}}-error"class="error form-text text-danger"></small>
            

            {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}

        </div>
        {% endif %}
    {%- endmacro %}

    {% macro render_form(form) -%}
        {%- for field in form %}
            {% if field.type == 'FormField' %}
                <div class="form-group">
                    <label for="{{ field.id }}" class="control-label">
                        <h3>{{ field.label.text }}</h3>
                    </label>
                    {{ render_form(field) }}
                </div>
            {% else %}
                {{ render_field(field) }}
            {% endif %}
        {%- endfor %}
    {%- endmacro %}

    <div class="container-fluid">
        {% block content %}
        <div>
            <h1>Base</h1>
        </div>
        {% endblock %}
    </div>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>


<script type="text/javascript">
    
</script>
</html>