<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"
        integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.21/jquery.csv.js"></script>
    <title>MaD - {% block title %}Home{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">MaD P2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/status">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataPage">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/connect">Connect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>

    {% macro render_field(field) -%}

        {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
        {{ field() }}
        {% else %}

        {% set with_label = kwargs.pop('with_label', True) %}
        {% set placeholder = kwargs.pop('placeholder', field.label.text) %}
        {% set class_ = kwargs.pop('class_', '') %}

        <div class="form-group {% if field.errors %}error{% endif %}">

            {% if with_label %}
            <label for="{{ field.id }}"
                class="control-label">
                {{ field.label.text }}
            </label>
            {% endif %}

            {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>
            {% else %}

            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField',
                                'IntegerField') %}

            {% set class_ = class_ + ' input-xlarge form-control' %}

            {% elif field.type == 'FileField' %}

            {% set class_ = class_ + ' input-file form-control' %}

            {% endif %}

            {% if field.type == 'SelectField' %}

            {{ field(class_=class_, **kwargs) }}

            {% else %}

            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}

            {% endif %}

            {% endif %}

            
            <small id="{{field.id}}-error"class="error form-text text-danger"></small>
            

            {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}

        </div>
        {% endif %}
    {%- endmacro %}

    {% macro render_form(form) -%}
        {%- for field in form %}
            {% if field.type == 'FormField' %}
                <div class="form-group">
                    <label for="{{ field.id }}" class="control-label">
                        <h3>{{ field.label.text }}</h3>
                    </label>
                    {{ render_form(field) }}
                </div>
            {% else %}
                {{ render_field(field) }}
            {% endif %}
        {%- endfor %}
    {%- endmacro %}

    <div class="container-fluid">
        {% block content %}
        <div>
            <h1>Base</h1>
        </div>
        {% endblock %}
    </div>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>


<script type="text/javascript">
    var test = io();

    function test_function() {
        test.emit('machine_config')
    };

    test.on('data', function (data) {
        console.log("getting status")
        
    });
</script>
</html>