{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}

<div class="container">
    <div class="container mt-4">
        <h1>Load Profile</h1>
        <form id="load_form" action="/create/load" method="POST">
            <table>
                {% for file in files %}
                <tr>
                    <td><input type="radio" name="selected_file" value="{{ file }}" required></td>
                    <td>{{ file }}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Load">
        </form> 
        <h1>Motion Profile Editor</h1>
        <form id="profile_form" class="form-inline mb-3">
            <div class="form-group">
                <label for="profile_name" class="mr-2">Profile Name:</label>
                <input type="text" id="profile_name" name="profile_name" class="form-control mr-2" value="{{ profile.name }}" required>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <h3>Sets</h3>
            </div>
            <div class="col-1">
                <form id="add_set_form" class="form-inline">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">Add Set</button>
                    </div>
                </form>
            </div>
        </div>
        <ul class="list-group">
            {% for set_index, set_obj in profile.sets | with_index %}
                <li class="list-group-item">
                    <h3 class="">Set</h3>
                    <form id="set_form_{{ set_index }}" class="form-inline mb-2">
                        <div class="form-group row">
                            <div class="col">
                                <label for="set_name_{{ set_index }}" class="mr-2">Name</label>
                                <input type="text" id="set_name_{{ set_index }}" name="set_name_{{ set_index }}" class="form-control mr-2" value="{{ set_obj['name'] }}" required>
                            </div>
                            <div class="col">
                                <label for="set_executions_{{ set_index }}" class="mr-2">Executions</label>
                                <input type="number" id="set_executions_{{ set_index }}" name="set_executions_{{ set_index }}" class="form-control mr-2" value="{{ set_obj['executions'] }}" required>
                            </div>
                            <label for="set_function_{{ set_index }}" class="mr-2">GCode</label>
                            <textarea id="set_function_{{ set_index }}" name="set_function_{{ set_index }}" rows="5" cols="50" style="display:none;" required>{{ set_obj['gcode'] }}</textarea>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-danger btn-sm mt-1" onclick="remove_set('{{set_index}}')">Remove Set</button>
                </li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary btn-sm mt-1" onclick=save_profile()>save</button>
    </div>
</div>

<script>
    function editor(id)
    {
        var temp = CodeMirror.fromTextArea(document.getElementById(id), {
            mode: "python",
            lineNumbers: true,
            indentUnit: 4,
            theme: "default",
        });
    }

    $('[id^="set_function_"]').each(function() {
        console.log($(this).attr('id'))
        editor($(this).attr('id'));
    });

    function update_profile(name) {
        var profileName = $(name).val();
        $.ajax({
            type: 'POST',
            url: '/create/update_profile',
            contentType: 'application/json',
            data: JSON.stringify({ profile_name: profileName }),
            success: function (data) {
                alert(data.message);
            }
        });
    }

    function update_set(set) {
        var setId = $(set).attr('id').replace('set_form_', '');
        var setName = $('#set_name_' + setId).val();
        var setExecutions = $('#set_executions_' + setId).val();
        var setGCode = $('#set_function_' + setId).next('.CodeMirror').get(0).CodeMirror.getValue();
        $.ajax({
            type: 'POST',
            url: '/create/update_set/' + setId,
            contentType: 'application/json',
            data: JSON.stringify({ 
                set_name: setName,
                set_executions: setExecutions,
                set_gcode: setGCode
            }),
            success: function (data) {
                alert(data.message);
            }
        });
    }

    // Save Profile
    function save_profile() {
        update_profile('#profile_name');
        $('[id^="set_form_"]').each(function() {
            update_set(this);
        });
        $.ajax({
            type: 'POST',
            url: '/create/save',
            success: function (data) {
                alert(data.message);
            }
        });
    };

    // Remove Set
    function remove_set(setId) {
        $.ajax({
            type: 'POST',
            url: '/create/remove_set/' + setId,
            success: function (data) {
                alert(data.message);
                location.reload();
            }
        });
    };
   $(document).ready(function () {
        // Profile Name Update
        $('#profile_name').change(function () {
            update_profile(this);
        });

        // Add Set
        $('#add_set_form').submit(function (event) {
            event.preventDefault(); // Prevent the default form submission
            var setName = $('#set_name').val();
            $.ajax({
                type: 'POST',
                url: '/create/add_set',
                contentType: 'application/json',
                success: function (data) {
                    alert(data.message);
                    location.reload();
                }
            });
        });

        // Update Set parameters
        $('[id^="set_form_"]').change(function (event) {
            event.preventDefault();
            update_set(this);
        });
    });
</script>

{% endblock %}