{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<div class="container shadow my-5 bg-white rounded">
    <h1>Data</h1>
    <div id="testProfile"></div>
    <div class="col-xl">
        <div class="row-xl">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <div id="chart-position" style="height: 370px; width:100%;"></div>
            </div>
        </div>
        <div class="row-xl">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <div id="chart-force" style="height: 370px; width:100%;"></div>
            </div>
        </div>
        <div class="row-xl">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <canvas id="chart-tension" style="width:100%;"></canvas>
            </div>
        </div>
    </div>
    <a href="/" download="data.csv"><button type=button">Download</button></a>
</div>

<script type="text/javascript">
$(document).ready(function () {

    var chartPositionData = []; // dataPoints
    var chartPosition = new CanvasJS.Chart("chart-position", {
        
        title :{
            text: "Position"
        },
        data: [{
            type: "line",
            dataPoints: chartPositionData
        }],
        axisX:{
            gridThickness: 0,
            tickLength: 0,
            lineThickness: 0,
            labelFormatter: function(){
            return " ";
            }
        }
    });

    var chartForceData = []; // dataPoints
    var chartForce = new CanvasJS.Chart("chart-force", {
        
        title :{
            text: "Force"
        },
        data: [{
            type: "line",
            dataPoints: chartForceData
        }],
        axisX:{
            gridThickness: 0,
            tickLength: 0,
            lineThickness: 0,
            labelFormatter: function(){
            return " ";
            }
        }
    });

    var socket = io('/serial');
    var max = 1000;
    socket.on('testdata', function (data) {
        if (!data) {
            return;
        }
        
        var monitor = JSON.parse(data.json);
        var time = monitor.timeus/1000000.0;
        var positionmm = monitor.encoderum/1000.0;
        var force = monitor.forcemN/1000.0;
        var setpointmm = monitor.setpointum/1000.0;
        console.log(time, positionmm, force, setpointmm);

        chartPositionData.push({
                x: time,
                y: positionmm
            });

        chartPosition.render();

        chartForceData.push({
                x: time,
                y: force
            });

        chartForce.render();

    });
});
</script>

{% endblock %}