{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<div class="container shadow my-5 bg-white rounded">
    <h1>Data</h1>
    <button onclick=load_test_data()>Load Test Data</button>
    <select id="fileSelect">
        {% for filename in uploaded_files %}
            <option value="{{ filename }}">{{ filename }}</option>
        {% endfor %}
    </select>
    <a id="downloadLink" href="" download>Download Selected File</a>
    <div id="testProfile"></div>
    <div class="col-xl">
        <div class="row-xl">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <div id="chart-position" style="height: 370px; width:100%;"></div>
            </div>
        </div>
        <div class="row-xl">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <div id="chart-force" style="height: 370px; width:100%;"></div>
            </div>
        </div>
        <div class="row-xl">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <div id="chart-tension" style="height: 370px; width:100%;"></div>
            </div>
        </div>
    </div>
    <a href="{{ url_for('download_test', name='test_data.csv') }}"">File</a>
</div>

<script type="text/javascript">

    function load_test_data() {
        // call /loadtestdata endpoint using jquery
        $.ajax({
            url: "/loadtestdata",
            type: "POST",
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    };
    var chartPositionData = []; // dataPoints
    var chartPosition = new CanvasJS.Chart("chart-position", {
        title :{
            text: "Position"
        },
        data: [{
            type: "line",
            dataPoints: chartPositionData
        }]
    });

    var chartForceData = []; // dataPoints
    var chartForce = new CanvasJS.Chart("chart-force", {
        animationEnabled: true,
        zoomEnabled: true,
        title :{
            text: "Force"
        },
        data: [{
            type: "line",
            dataPoints: chartForceData
        }],
        axisX:{
            gridThickness: 0,
            tickLength: 0,
            lineThickness: 0,
            labelFormatter: function(){
            return " ";
            }
        }
    });

    var chartTensileData = []; // dataPoints
        var chartTensile = new CanvasJS.Chart("chart-tension", {
            animationEnabled: true,
            zoomEnabled: true,
            title :{
                text: "Force Stretch"
            },
            axisY:{
                title:"N",
            },
            axisX:{
                title:"mm",
            },
            data: [{
                type: "line",
                dataPoints: chartTensileData
            }],
        });

        var target_output = document.getElementById("output");
    var test_profile = new EventSource("/test_profile");
    test_profile.onopen = function (e) {
        console.log("Connection was opened.");
        chartPositionData.length = 0;
    };
    test_profile.onmessage = function (e) {
        if (!e) {
            return;
        }
        if (e.data == "done")
        {
            test_profile.close();
            console.log("Connection was closed.");
            return;
        }
        var json = JSON.parse(e.data);
        var Time = json.Time;
        for (var i = 0; i < Time.length; i++) {
            if (Time[i] == undefined) {
                continue;
            }
            chartPositionData.push({
                x: parseInt(Time[i]),
                y: parseInt(json.Position[i])
            });
            chartForceData.push({
                x: parseInt(Time[i]),
                y: parseInt(json.Force[i])
            });
            chartTensileData.push({
                x: parseInt(json.Position[i]),
                y: parseInt(json.Force[i])
            });
        }
        chartPosition.render();
        chartForce.render();
        chartTensile.render();
    };
</script>

{% endblock %}