{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}

<div class="container">
    <div class="container m-3">
        <h1>Motion Profile</h1>
        <div class="container rounded bg-light p-3">
            <form id="jsonForm">
                <div id="formContainer"></div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <p id="loading">Loading</p>
    </div>
</div>

<script>

// Function to generate the form
function generateForm(data, parentKey = '') {
    var formContainer = document.getElementById('formContainer');
    for (var key in data) {
        if (data.hasOwnProperty(key)) {
        var value = data[key];
        var inputName = parentKey ? parentKey + '.' + key : key;
        var inputId = inputName.replace(/\s+/g, '-').toLowerCase();
        var label = document.createElement('label');
        label.setAttribute('for', inputId);
        label.textContent = key;
        formContainer.appendChild(label);
        if (typeof value === 'object') {
            var lineBreak = document.createElement('br');
            formContainer.appendChild(lineBreak);
            generateForm(value, inputName);
        } else {
            var input = document.createElement('input');
            input.setAttribute('type', 'text');
            input.setAttribute('name', inputName);
            input.setAttribute('id', inputId);
            input.setAttribute('value', value);
            input.setAttribute('required', true);
            formContainer.appendChild(input);
        }
        var lineBreak = document.createElement('br');
        formContainer.appendChild(lineBreak);
        }
    }
}

$(document).ready(function () {
    var form = document.getElementById('jsonForm');
    var mp_json = {};
    var socket = io('/serial');
    
    socket.emit('profile');

    socket.on('profile', function (data) {
        mp_json = JSON.parse(data.json);
        console.log(data.json);
        if (!data || !data.json)
        {
            return; // Invalid data
        }

        $('#loading').hide();

        generateForm(mp_json)
    });

    // Handle form submission
    form.addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the form from submitting normally

      var formElements = document.getElementById('jsonForm').elements;

      // Build the updated JSON object
      var updatedJson = {};
      for (var i = 0; i < formElements.length; i++) {
        var element = formElements[i];
        var elementName = element.name;
        var elementValue = element.value;

        if (!elementValue.trim()) {
            continue;
        }

        // Parse numeric values as numbers
        if (!isNaN(elementValue)) {
        elementValue = Number(elementValue);
        }

        if (Number.isInteger(elementValue)) {
            elementValue = parseInt(elementValue);
        }

        // Update the JSON object with the new value
        var keys = elementName.split('.');
        var obj = updatedJson;
        for (var j = 0; j < keys.length; j++) {
          var key = keys[j];
          if (j === keys.length - 1) {
            obj[key] = elementValue;
          } else {
            obj[key] = obj[key] || {};
            obj = obj[key];
          }
        }
      }
      console.log(updatedJson);
      // Convert the updated JSON object back to a string
      var updatedJsonString = JSON.stringify(updatedJson);
      console.log(updatedJsonString);

      // Perform your submission logic here, such as sending the updated JSON to a server
      var url = "{{ url_for('settings_save') }}"; // send the form data here.
        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/json",
            data: updatedJsonString, // serializes the form's elements.
            success: function (data) {
                console.log(data)  // display the returned data in the console.
                window.alert(data);
            },
            error: function (data) {
                if (!data || !data.responseJSON)
                {
                    return; // Invalid data
                }
                console.log(data)
            }
        });
    });
});

</script>

{% endblock %}