{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<div class="container">
    <div class="container rounded">
        <h1>Motion Profile</h1>
        <div id="machineProfile"></div>
        {% macro display_dict(dict, path) %}
            {% for key, value in dict.items() %}
            {% if key[0] != '_' %}
                <div>
                {{ key }}:
                {% if value is mapping %}
                    {{ display_dict(value, path + [key]) }}
                {% else %}
                <input type="text" name="{{ path|join('.') }}.{{ key }}" value="{{ value }}">
                {% endif %}
                </div>
            {% endif %}
            {% endfor %}
        {% endmacro %}
        <form method="post" action="/settings">
            {{ display_dict(machineProfile, []) }}
        <button type="submit">Submit</button>
    </form>
    </div>
</div>

<script>
    
</script>

{% endblock %}