{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-xl-4">
            <div class="row-xl mb-3">
                <div class="shadow p-3 bg-white rounded">
                    <h1 class="text-center">State</h1>
                    <div class="container" id="machineState">
                        {% macro display_header(header,id) %}
                        <div class="row">
                            <h3 class="text-primary" json-id="{{id}}">{{header}}</h3>
                        </div>
                        {% endmacro %}
                        {% macro display_boolean(label,id) %}
                        <div class="row d-flex">
                            <div class="col-8">
                                <h5>{{label}}</h5>
                            </div>
                            <div class="col">
                                <div class="ml-auto align-middle">
                                    <i json-id="{{id}}"class="bi-x-square"></i>
                                </div>
                            </div>
                        </div>
                        {% endmacro %}
                        {% macro display_value(label,id) %}
                        <div class="row d-flex">
                            <div class="col">
                                <h5>{{label}}</h5>
                            </div>
                            <div class="col ml-auto">
                                <span type="text" json-id="{{id}}" class="align-middle"></span>
                            </div>
                        </div>
                        {% endmacro %}
                        {{display_header("Self check","selfCheckParameters")}}
                        {{display_boolean("Charge Pump","chargePump")}}

                        {{display_header("Machine Check","machineCheckParameters")}}
                        {{display_boolean("Switch Power","switchedPower")}}
                        {{display_value("ESD Travel","esdTravelLimit")}}
                        {{display_boolean("ESD Switch","esdSwitch")}}
                        {{display_boolean("Servo Ready","servoOK")}}
                        {{display_boolean("Force Comm","forceGaugeCom")}}
                        {{display_boolean("Servo Comm","servoCom")}}

                        {{display_header("Motion","motionParameters")}}
                        {{display_value("Status","status")}}
                        {{display_value("Condition","condition")}}
                        {{display_value("Mode","mode")}}
                    </div>
                </div>
            </div>
            <div class="row-xl shadow p-3 mb-3 bg-white rounded text-center">
                <div class="row">
                    <div class="col">
                        <h5>Status</h5>
                        <button type="button" class="btn btn-success" id="status" onclick=toggleStatus()>status</button>
                    </div>
                    <div class="col">
                        <h5>Condition</h5>
                        <button type="button" class="btn btn-info" id="condition" disabled>condition</button>
                    </div>
                    <div class="col">
                        <h5>Mode</h5>
                        <button type="button" class="btn btn-success" id="mode" onclick=toggleMode()>mode</button>
                    </div>
                    <div class="col">
                        <h5>Test</h5>
                        <button type="button" class="btn btn-success" id="run" onclick=run()>Run</button>
                    </div>
                </div>
            </div>
            <div class="row-xl shadow p-3 mb-3 bg-white rounded text-center">
                <div class="row-xl">
                    <div class="row-xl">
                        <div class="col">
                            <h3>Control</h3>
                        </div>
                    </div>
                    <div class="row-xl">
                        <div class="col" id="functions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="row-xl">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <canvas id="chart-position" style="width:100%;"></canvas>
                </div>
            </div>
            <div class="row-xl">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <canvas id="chart-force" style="width:100%;"></canvas>
                </div>
            </div>
            <div class="row-xl">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <canvas id="chart-tension" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function update_boolean(id, value) {
        if (value) {
            $(`[json-id="${id}"]`).attr("class", "bi-check-square-fill");
        } else {
            $(`[json-id="${id}"]`).attr("class", "bi-x-square");
        }
    };

    function update_value(id, value) {
        $(`[json-id="${id}"]`).html(value);
    };

    function get_value(id) {
        return $(`[json-id="${id}"]`).html();
    };

    function update_header(id, value) {
        if (value) {
            $(`[json-id="${id}"]`).attr("class", "text-success");
        } else {
            $(`[json-id="${id}"]`).attr("class", "text-danger");
        }
    };

    function run() {
        $.ajax({
            url: "/run",
            type: "post",
            success: function (data) {
                console.log("Running default motion profile");
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function toggleStatus() {
        $.ajax({
            url: "/toggleStatus",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify({status: get_value("status")}),
            success: function (data) {
                console.log("Toggling Status");
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function toggleMode() {
        $.ajax({
            url: "/toggleMode",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify({mode: $("#mode").html()}),
            success: function (data) {
                console.log("Toggling Mode");
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    $(document).ready(function () {

        const configPosition = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [
                    {
                        label: "Position",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        pointRadius: 0,
                        fill: false,
                    },
                    {
                        label: "Setpoint",
                        backgroundColor: 'rgb(0, 255, 0)',
                        borderColor: 'rgb(0, 255, 0)',
                        data: [],
                        pointRadius: 0,
                        fill: false,
                    }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Position vs. Time'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false,
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(mm)'
                        },
                        min: -50,
                        max: 50,
                        ticks: {
                            // forces step size to be 1N
                            stepSize: 10
                        }
                    }
                }
            }
        };
        const configForce = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [{
                    label: "Force",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    pointRadius: 0,
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Force vs. Time'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false,
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(N)'
                        },
                        min: -5,
                        max: 5,
                        ticks: {
                            // forces step size to be 1N
                            stepSize: 1
                        }
                    }
                }
            }
        };
        const configTension = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [{
                    label: "Tension",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    pointRadius: 0,
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Force vs. Length'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: '(mm)'
                        },
                        ticks: {
                            suggestedMin: -20,
                            suggestedMax: 20,
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(N)'
                        },
                        min: -5,
                        max: 5,
                        ticks: {
                            // forces step size to be 1N
                            stepSize: 1
                        }
                    }
                }
            }
        };
        const contextPosition = document.getElementById('chart-position').getContext('2d');
        const lineChartPosition = new Chart(contextPosition, configPosition);
        const contextForce = document.getElementById('chart-force').getContext('2d');
        const lineChartForce = new Chart(contextForce, configForce);
        const contextTension = document.getElementById('chart-tension').getContext('2d');
        const lineChartTension = new Chart(contextTension, configTension);

        var socket = io('/serial');

        socket.on('state', function (data) {
            if (!data && !data.json) {
                return;
            } 

            json = JSON.parse(data.json);
            console.log(json);
            selfCheck = json.selfCheckParameters;
            update_header("selfCheckParameters", json.state!=0);
            update_boolean("chargePump", selfCheck.chargePump);
        
            machineCheck = json.machineCheckParameters;
            update_header("machineCheckParameters", json.state!=0&&json.state!=1);
            update_boolean("switchedPower", machineCheck.switchedPower);
            update_value("esdTravelLimit", machineCheck.esdTravelLimit);
            update_boolean("esdSwitch", machineCheck.esdSwitch);
            update_boolean("servoOK", machineCheck.servoOK);
            update_boolean("forceGaugeCom", machineCheck.forceGaugeCom);
            update_boolean("servoCom", machineCheck.servoCom);

            motionParameters = json.motionParameters;
            update_value("status", motionParameters.status);
            update_value("condition", motionParameters.condition);
            update_value("mode", motionParameters.mode);

            $("#status").html(motionParameters.status);
            $("#condition").html(motionParameters.condition);
            $("#mode").html(motionParameters.mode);
            $("#status").prop('disabled', "2".localeCompare(json.state));
        });

        socket.on('data', function (data) {
            if (!data) {
                return;
            }
            
            var monitor = JSON.parse(data.json);
            var time = monitor.timeus/1000000.0;
            var positionmm = monitor.encoderum/1000.0;
            var force = monitor.forcemN/1000.0;
            var setpointmm = monitor.setpointum/1000.0;
            
            if (configPosition.data.labels.length >= 100) {
                configPosition.data.labels.shift();
                configPosition.data.datasets[0].data.shift();
                configPosition.data.datasets[1].data.shift();

                configForce.data.labels.shift();
                configForce.data.datasets[0].data.shift();

                configTension.data.labels.shift();
                configTension.data.datasets[0].data.shift();
            }

            configPosition.data.labels.push(time);
            configPosition.data.datasets[0].data.push(positionmm);
            configPosition.data.datasets[1].data.push(setpointmm);

            configForce.data.labels.push(time);
            configForce.data.datasets[0].data.push(force);

            configTension.data.labels.push(positionmm);
            configTension.data.datasets[0].data.push(force);

            lineChartPosition.update();
            lineChartForce.update();
            lineChartTension.update();
        });
    });
</script>

{% endblock %}