{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<div class="container shadow my-5 bg-white rounded">
    <h1>Data</h1>
    <div id="testProfile"></div>
    <div class="row-xl">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <canvas id="chart-position" style="width:100%;"></canvas>
        </div>
    </div>
    <div class="row-xl">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <canvas id="chart-force" style="width:100%;"></canvas>
        </div>
    </div>
    <div class="row-xl">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <canvas id="chart-tension" style="width:100%;"></canvas>
        </div>
    </div>
    <a href="{{ url_for('flashData') }}" download="data.csv"><button type=button">Download</button></a>
</div>

<script>
    window.onload = function () {

        const configPosition = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [
                    {
                        label: "Position",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        pointRadius: 0,
                        fill: false,
                    },
                    {
                        label: "Setpoint",
                        backgroundColor: 'rgb(0, 255, 0)',
                        borderColor: 'rgb(0, 255, 0)',
                        data: [],
                        pointRadius: 0,
                        fill: false,
                    }],
            },
            options: {
                plugins: {
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'xy',
                        }
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Position vs. Time'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false,
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(mm)'
                        },
                        ticks: {
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            suggestedMax: 100
                        }
                    }
                }
            }
        };
        const configForce = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [{
                    label: "Force",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    pointRadius: 0,
                    fill: false,
                }],
            },
            options: {
                plugins: {
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'xy',
                        }
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Force vs. Time'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false,
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(N)'
                        },
                        ticks: {
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            suggestedMax: 5
                        }
                    }
                }
            }
        };
        const configTension = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [{
                    label: "Tension",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    pointRadius: 0,
                    fill: false,
                }],
            },
            options: {
                plugins: {
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true
                            },
                            mode: 'xy',
                        }
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Force vs. Length'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(mm)'
                        },
                        ticks: {
                            display: true,
                            suggestedMin: -20,
                            suggestedMax: 20
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(N)'
                        },
                        ticks: {
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            suggestedMax: 5
                        }
                    }
                }
            }
        };
        const contextPosition = document.getElementById('chart-position').getContext('2d');
        const lineChartPosition = new Chart(contextPosition, configPosition);
        const contextForce = document.getElementById('chart-force').getContext('2d');
        const lineChartForce = new Chart(contextForce, configForce);
        const contextTension = document.getElementById('chart-tension').getContext('2d');
        const lineChartTension = new Chart(contextTension, configTension);

        $.ajax({
            url: "/flashData",
            type: "get",
            success: function (data) {
                var dataObj = $.csv.toObjects(data)
                var time = dataObj.map(function (d) { return d.time });
                var position = dataObj.map(function (d) { return d.position });
                var setpoint = dataObj.map(function (d) { return d.setpoint });
                var force = dataObj.map(function (d) { return d.force });

                configPosition.data.labels = time;
                configPosition.data.datasets[0].data = position;
                configPosition.data.datasets[1].data = setpoint;

                configForce.data.labels = time;
                configForce.data.datasets[0].data = force;

                configTension.data.labels = position;
                configTension.data.datasets[0].data = force;

                lineChartPosition.update();
                lineChartForce.update();
                lineChartTension.update();
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    };
</script>

{% endblock %}