{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container my-3" onload=pingDevice()>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-center mb-3">Connect To MaD Board</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Serial</label>
            </div>
            <select class="custom-select" id="port">
                <option selected>{{selectedPort}}</option>
                {% for p in ports %}
                <option>{{p}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Baud</label>
            </div>
            <select class="custom-select" id="baud">
                <option selected>{{baud}}</option>
                <option>9600</option>
                <option>14400</option>
                <option>19200</option>
                <option>38400</option>
                <option>57600</option>
                <option>115200</option>
                <option>128000</option>
                <option>256000</option>
            </select>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <button type="button" class="btn btn-primary" id="connect" onclick=connect()>Connect</button>
        </div>
        <p class="text-center" id="result"></p>
    </div>
    <div class="container-fluid shadow py-3 mb-5 bg-white rounded">
        <h1 class="text-center">Machine Profile</h1>
        <div class="container-fluid" id="machineProfile"></div>
        <div class="container-fluid d-flex justify-content-center">
            <button type="button" class="btn btn-primary" id="connect" onclick=saveMachineProfile()>Save</button>
        </div>
    </div>
</div>
<div>
    {% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </dd>
    {% endmacro %}
    <form method=post action="{{ url_for('connect') }}">
        <dl>
            {{ render_field(connectForm.port) }}
            {{ render_field(connectForm.baud) }}
        </dl>
            {{ render_field(connectForm.submit) }}
    </form>
</div>
<!--<img src="/static/images/force.png" alt="my plot" id="data">
<img src="/static/images/position.png" alt="my plot" id="data">-->
<script>
    function connect() {
        port = $("#port").val();
        baud = $("#baud").val();
        console.log("connecting");
        $.post("/connect", { port: port, baud: baud },
            function (data) { // <- This is automatically called after the post completes successfully
                console.log("returning:" + data)
                $("#result").text(data);
            }).done(function () {
                $.post("/machineProfile", {},
                    function (data) { // <- This is automatically called after the post completes successfully
                        console.log("returning:" + data)
                        $("#machineProfile").html(data);
                    })
            });
    };
    function pingDevice() {
        console.log("Pinging Device");
        $.post("/ping", {},
            function (data) { // <- This is automatically called after the post completes successfully
                console.log("returning:" + data)
                $("#result").text(data);
            }).done(function () {
                $.post("/machineProfile", {},
                    function (data) { // <- This is automatically called after the post completes successfully
                        console.log("returning:" + data)
                        $("#machineProfile").html(data);
                    })
            });
    };

    function saveMachineProfile() {
        console.log("Saving machine profile");
        // PARSE THE ID'S USED INSIDE THE HTML SOMEHOW SEND TO PYTHON
        $.post("/ping", {},
            function (data) { // <- This is automatically called after the post completes successfully
                console.log("returning:" + data)
                $("#result").text(data);
            }).done(function () {
                $.post("/machineProfile", { info: "*" },
                    function (data) { // <- This is automatically called after the post completes successfully
                        console.log("returning:" + data)
                        $("#machineProfile").html(data);
                    })
            });
    };

    window.onload = pingDevice();
</script>
{% endblock %}