{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-xl-4">
            <div class="row-xl mb-3">
                <div class="shadow p-3 bg-white rounded">
                    <h1 class="text-center">Status</h1>
                    <div id="machineStatus"></div>
                </div>
            </div>
            <div class="row-xl shadow p-3 mb-3 bg-white rounded text-center">
                <div class="row">
                    <div class="col">
                        <h5>Status</h5>
                        <button type="button" class="btn btn-success" id="status" onclick=toggleStatus()>status</button>
                    </div>
                    <div class="col">
                        <h5>Condition</h5>
                        <button type="button" class="btn btn-info" id="condition" disabled>condition</button>
                    </div>
                    <div class="col">
                        <h5>Mode</h5>
                        <button type="button" class="btn btn-success" id="mode" onclick=toggleMode()>mode</button>
                    </div>
                    <div class="col">
                        <h5>Test</h5>
                        <button type="button" class="btn btn-success" id="mode" onclick=run()>Run</button>
                    </div>
                </div>
            </div>
            <div class="row-xl shadow p-3 mb-3 bg-white rounded text-center">
                <div class="row-xl">
                    <div class="row-xl">
                        <div class="col">
                            <h3>Control</h3>
                        </div>
                    </div>
                    <div class="row-xl">
                        <div class="col" id="functions">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="row-xl">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <canvas id="chart-position" style="width:100%;"></canvas>
                </div>
            </div>
            <div class="row-xl">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <canvas id="chart-force" style="width:100%;"></canvas>
                </div>
            </div>
            <div class="row-xl">
                <div class="shadow p-3 mb-3 bg-white rounded">
                    <canvas id="chart-tension" style="width:100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<img src="{{ url_for('video_feed') }}" width="100%" class="img-fluid">-->
    </div>
</div>


<script type="text/javascript">
    function run() {
        $.ajax({
            url: "/run",
            type: "post",
            success: function (data) {
                console.log("Running default motion profile");
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function func_manual() {
        $.ajax({
            url: "/functionManual",
            type: "post",
            data: { function: this.id },
            success: function (data) {
                console.log("Running function:" + this.id);
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function load_functions() {
        $.ajax({
            url: "/functionManual",
            type: "get",
            success: function (data) {
                console.log("Getting functions:" + data);
                $("#functions").html(data);
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function toggleStatus() {
        $.ajax({
            url: "/toggleStatus",
            type: "post",
            success: function (data) {
                console.log("Toggling Status");
                getStatus();
            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function toggleMode() {
        $.ajax({
            url: "/toggleMode",
            type: "post",
            success: function (data) {
                console.log("Toggling Mode");
                getStatus();

            },
            error: function (xhr) {
                //Handel error
            }
        });
    };

    function getStatus() {
        console.log("Getting device status");
        $.ajax({
            url: "/machineStatus",
            type: "post",
            success: function (data) {
                if (data == "") {
                    return;
                }
                console.log("Got machine profile")
                $("#machineStatus").html(data);
                $("#status").html($("#machineStatus").find(".status").find(".value").html())
                $("#condition").html($("#machineStatus").find(".condition").find(".value").html())
                $("#mode").html($("#machineStatus").find(".mode").find(".value").html())
                state = $("#machineStatus").find(".state").find(".value").html()
                $("#status").prop('disabled', "MOTION".localeCompare(state))
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    };

    function update() {
        //getStatus();
        setTimeout(update, 1000);
    };

    function page_load() {
        update();
        load_functions();
    };

    window.onload = page_load();

    $(document).ready(function () {

        const configPosition = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [
                    {
                        label: "Position",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        pointRadius: 0,
                        fill: false,
                    },
                    {
                        label: "Setpoint",
                        backgroundColor: 'rgb(0, 255, 0)',
                        borderColor: 'rgb(0, 255, 0)',
                        data: [],
                        pointRadius: 0,
                        fill: false,
                    }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Position vs. Time'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false,
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(mm)'
                        },
                        min: -50,
                        max: 50,
                        ticks: {
                            // forces step size to be 1N
                            stepSize: 10
                        }
                    }
                }
            }
        };
        const configForce = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [{
                    label: "Force",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    pointRadius: 0,
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Force vs. Time'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false,
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(N)'
                        },
                        min: -5,
                        max: 5,
                        ticks: {
                            // forces step size to be 1N
                            stepSize: 1
                        }
                    }
                }
            }
        };
        const configTension = {
            type: 'line',
            responsive: true,
            data: {
                labels: [],
                datasets: [{
                    label: "Tension",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    pointRadius: 0,
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Force vs. Length'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: false,
                        scaleLabel: {
                            display: true,
                            labelString: '(mm)'
                        },
                        ticks: {
                            suggestedMin: -20,
                            suggestedMax: 20,
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '(N)'
                        },
                        min: -5,
                        max: 5,
                        ticks: {
                            // forces step size to be 1N
                            stepSize: 1
                        }
                    }
                }
            }
        };
        const contextPosition = document.getElementById('chart-position').getContext('2d');
        const lineChartPosition = new Chart(contextPosition, configPosition);
        const contextForce = document.getElementById('chart-force').getContext('2d');
        const lineChartForce = new Chart(contextForce, configForce);
        const contextTension = document.getElementById('chart-tension').getContext('2d');
        const lineChartTension = new Chart(contextTension, configTension);

        /*const source = new EventSource("/data");
        source.onmessage = function (event) {
            console.log("Data:" + event.data)
            if (event.data == "") {
                return;
            }
            const data = JSON.parse(event.data);
            if (configPosition.data.labels.length >= 100) {
                configPosition.data.labels.shift();
                configPosition.data.datasets[0].data.shift();
                configPosition.data.datasets[1].data.shift();

                configForce.data.labels.shift();
                configForce.data.datasets[0].data.shift();

                configTension.data.labels.shift();
                configTension.data.datasets[0].data.shift();
            }

            configPosition.data.labels.push(data.time);
            configPosition.data.datasets[0].data.push(data.position);
            configPosition.data.datasets[1].data.push(data.setpoint);

            configForce.data.labels.push(data.time);
            configForce.data.datasets[0].data.push(data.force);

            configTension.data.labels.push(data.position);
            configTension.data.datasets[0].data.push(data.force);

            lineChartPosition.update();
            lineChartForce.update();
            lineChartTension.update();
        };* /

        /*const statusStream = new EventSource("/machineStatusStream");
        statusStream.onmessage = function (event) {
            console.log(event);
            const status = event.Status;
            if (status == "") {
                return;
            }
            console.log("Got machine profile:" + s)
            $("#machineStatus").html(data);
            $("#status").html($("#machineStatus").find(".status").find(".value").html())
            $("#condition").html($("#machineStatus").find(".condition").find(".value").html())
            $("#mode").html($("#machineStatus").find(".mode").find(".value").html())
            state = $("#machineStatus").find(".state").find(".value").html()
            $("#status").prop('disabled', "MOTION".localeCompare(state))
        };*/

        var socketStatus = io('/status');
        socketStatus.on('data', function (data) {
            console.log("getting status")
            $("#machineStatus").html(data.html);
            $("#status").html($("#machineStatus").find(".status").find(".value").html())
            $("#condition").html($("#machineStatus").find(".condition").find(".value").html())
            $("#mode").html($("#machineStatus").find(".mode").find(".value").html())
            state = $("#machineStatus").find(".state").find(".value").html()
            $("#status").prop('disabled', "MOTION".localeCompare(state))
        });

        var socketMonitor = io('/monitor');
        socketMonitor.on('data', function (data) {
            if (!data) {
                return;
            }
            data = data
            if (configPosition.data.labels.length >= 100) {
                configPosition.data.labels.shift();
                configPosition.data.datasets[0].data.shift();
                configPosition.data.datasets[1].data.shift();

                configForce.data.labels.shift();
                configForce.data.datasets[0].data.shift();

                configTension.data.labels.shift();
                configTension.data.datasets[0].data.shift();
            }

            configPosition.data.labels.push(data.time);
            configPosition.data.datasets[0].data.push(data.position);
            configPosition.data.datasets[1].data.push(data.setpoint);

            configForce.data.labels.push(data.time);
            configForce.data.datasets[0].data.push(data.force);

            configTension.data.labels.push(data.position);
            configTension.data.datasets[0].data.push(data.force);

            lineChartPosition.update();
            lineChartForce.update();
            lineChartTension.update();
        });
    });
</script>

{% endblock %}